* {
  font-family: "Poppins", sans-serif;
}

nav {
  padding: 1.75rem;
  background-color: white;
}

main {
  margin-top: 10vh;
}

.mulearn-logo {
  width: 6rem;
}

.nav-barbtn button {
  border: 2.5px solid #5865f2;
  padding: 0.65rem 0.96rem;
  border-radius: 5px;
  font-size: 0.8rem;
  background-color: #5865f2;
  color: white;
  margin-top: 2vh;
}

.dropdown {
  font-size: 1rem;
}

.dropdown-item {
  font-size: 0.9rem;
}

footer {
  /* margin-top: 10vh; */
  padding: 4rem 2rem;
  background-color: #404040;
}

.footer-logo {
  width: 5rem;
}

footer a {
  text-decoration: none;
  color: #ffff;
}

.social-links a:hover,
.footer-links a:hover {
  color: #fd7915;
}

.footer-links {
  margin: 2rem 0;
  line-height: 2rem;
  font-size: 0.9rem;
}

.footer-links a {
  margin-right: 0.75rem;
}

.iconify {
  font-size: 2rem;
  margin-right: 0.75rem;
}

.iconify:hover {
  color: #f6832a;
  background-color: #404040;
}

footer hr {
  color: white;
  margin: 2rem 0rem;
}
.address {
  color: white;
  width: 20rem;
  font-weight: 200;
  font-size: 0.8rem;
}

.mailus {
  display: block;
  padding-top: 1rem;
  color: rgb(176, 176, 245);
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #5e72e4;
}

.fheadingtext {
  font-size: 1.1rem;
  color: white;
  margin-top: 4vh;
}

.fparagraph {
  font-size: 0.8rem;
  font-weight: 300;
  color: white;
}

.newsletterinvite {
  display: flex;
  flex-direction: row;
}

.invite-container {
  position: relative;
  background-color: white;
  padding: 0.5rem 1rem;
  margin-top: 2vh;
  border-radius: 5px;
}

.invite-container input {
  font-size: 0.8rem;
  border: none;
  padding: 0.5rem;
  width: 12.5rem;
}

.invite-container button {
  border: none;
  font-size: 0.8rem;
  color: white;
  background-color: #f6832a;
  padding: 0.5rem 1.75rem;
  border-radius: 3px;
}

.invite-container button:hover {
  background-color: #fd7915;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.nav-barbtn {
  padding-bottom: 2vh;
}

.newsletter {
  width: 20rem;
}

.newslettertext {
  color: white;
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 1000px) {
  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  footer {
    padding: 1rem 6rem;
    padding-bottom: 3rem;
  }

  .container-fluid {
    padding: 0.55rem 4.3rem;
  }

  .navbar-styles {
    display: flex;
    justify-content: space-between;
  }

  .nav-barbtn button {
    margin-top: 0;
  }

  .iconify {
    font-size: 2.5rem;
  }

  .footer-logo {
    width: 6rem;
    margin-top: 2vh;
  }

  .nav-barbtn {
    padding-bottom: 0vh;
  }
}

.first-section {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #404040;
}

.fsheader {
  font-size: 3rem;
  margin-bottom: 1vh;
  font-size: 600;
  font-family: "Outfit", sans-serif;
}

.fsheader span {
  font-weight: 700;
}

.fstagline {
  font-size: 0.96rem;
}

.image {
  margin-top: 5vh;
  height: 35vh;
}

@media only screen and (min-width: 1000px) {
  .first-section {
    margin: 6rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .fsheader {
    font-size: 4.5rem;
  }

  .fstagline {
    font-size: 1.2rem;
  }

  .image {
    height: 20vw;
  }

  .fstexts {
    width: 40vw;
  }
}

/* Second Sections */

.second-section {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  color: white;
  background-color: #4797dd;
  /* border-radius: 15px 15px 0 0; */
}

.ssheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ssheader img {
  width: 4rem;
}

.ssheader p {
  font-size: 1.25rem;
  margin-left: 5px;
  margin-top: 5px;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
}

.sstagline {
  margin-top: 2vh;
  font-size: 0.9rem;
  text-align: center;
}

.requirements {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reqlogo {
  display: table;
  margin: 0 auto;
  font-size: 3rem;
}

.req p {
  font-size: 1.1rem;
}

.req {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0.5rem;
}

@media only screen and (min-width: 1000px) {
  .ssheader img {
    width: 5rem;
  }

  .ssheader p {
    font-size: 1.5rem;
  }

  .sstagline {
    margin-top: 2vh;
    width: 70vw;
    font-size: 1.1rem;
  }

  .requirements {
    flex-direction: row;
    justify-content: space-between;
    width: 45vw;
    align-items: center;
  }

  .req p {
    font-size: 1.1rem;
    margin-top: 1vh;
  }
}

.apply {
  border: none;
  padding: 0.75rem 3rem;
  font-size: 1.1rem;
  background-color: white;
  border-radius: 3px;
  color: #4797dd;
  font-weight: 600;
  margin-top: 2vh;
}

.apply:hover{
  background-color: #76b6ee;
  color: white;
  transition: 0.25s ease-in-out;
}
