* {
  font-family: "Poppins", sans-serif;
}

nav {
  padding: 1.75rem;
  background-color: white;
}

main {
  margin-top: 10vh;
}

.mulearn-logo {
  width: 6rem;
}

.softlogo {
  width: 4.75rem;
}

.nav-barbtn button {
  border: 2.5px solid #5865f2;
  padding: 0.65rem 0.96rem;
  border-radius: 5px;
  font-size: 0.8rem;
  background-color: #5865f2;
  color: white;
  margin-top: 2vh;
}

.dropdown {
  font-size: 1rem;
}

.dropdown-item {
  font-size: 0.9rem;
}

footer {
  margin-top: 10vh;
  padding: 4rem 2rem;
  background-color: #404040;
}

.footer-logo {
  width: 5rem;
}

footer a {
  text-decoration: none;
  color: #ffff;
}

.social-links a:hover,
.footer-links a:hover {
  color: #fd7915;
}

.footer-links {
  margin: 2rem 0;
  line-height: 2rem;
  font-size: 0.9rem;
}

.footer-links a {
  margin-right: 0.75rem;
}

.iconify {
  font-size: 2rem;
  margin-right: 0.75rem;
}

.iconify:hover {
  color: #f6832a;
  background-color: #404040;
}

footer hr {
  color: white;
  margin: 2rem 0rem;
}
.address {
  color: white;
  width: 20rem;
  font-weight: 200;
  font-size: 0.8rem;
}

.mailus {
  display: block;
  padding-top: 1rem;
  color: rgb(176, 176, 245);
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #5e72e4;
}

.fheadingtext {
  font-size: 1.1rem;
  color: white;
  margin-top: 4vh;
}

.fparagraph {
  font-size: 0.8rem;
  font-weight: 300;
  color: white;
}

.newsletterinvite {
  display: flex;
  flex-direction: row;
}

.invite-container {
  position: relative;
  background-color: white;
  padding: 0.5rem 1rem;
  margin-top: 2vh;
  border-radius: 5px;
}

.invite-container input {
  font-size: 0.8rem;
  border: none;
  padding: 0.5rem;
  width: 12.5rem;
}

.invite-container button {
  border: none;
  font-size: 0.8rem;
  color: white;
  background-color: #f6832a;
  padding: 0.5rem 1.75rem;
  border-radius: 3px;
}

.invite-container button:hover {
  background-color: #fd7915;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.nav-barbtn {
  padding-bottom: 2vh;
}

.newsletter {
  width: 20rem;
}

.newslettertext {
  color: white;
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 1000px) {
  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  footer {
    padding: 1rem 6rem;
    padding-bottom: 3rem;
  }

  .container-fluid {
    padding: 0.55rem 4.3rem;
  }

  .navbar-styles {
    display: flex;
    justify-content: space-between;
  }

  .nav-barbtn button {
    margin-top: 0;
  }

  .iconify {
    font-size: 2.5rem;
  }

  .footer-logo {
    width: 6rem;
    margin-top: 2vh;
  }

  .nav-barbtn {
    padding-bottom: 0vh;
  }
}

/* First Section */

.first-section {
  padding: 2rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.fsheading {
  font-size: 3.75rem;
  line-height: 3.25rem;
  font-family: "Outfit";
  font-weight: 600;
}

.fstexts {
  text-align: center;
}

.fsillustration {
  width: 40vh;
}

@media only screen and (min-width: 800px) {
  .fsillustration {
    width: 45vh;
  }

  .fsheading {
    font-size: 5.75rem;
    line-height: 5.25rem;
  }

  .fstagline {
    font-size: 1.15rem;
  }

  .fstexts {
    width: 40%;
  }
}

/* Second Section  */

.second-section {
  padding: 2rem;
}

.ssheading {
  font-size: 1.45rem;
  font-family: "Outfit";
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.opportunity {
  margin-top: 3vh;
  padding: 1rem;
  border-radius: 5px;
}

.op-header {
  display: flex;
}

.op-texts {
  margin-left: 1rem;
}

.op-header img {
  height: 5rem;
}

.hirename {
  font-size: 1.2rem;
  font-weight: 600;
}

.hiredes {
  margin-top: -1rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #747272;
}

.point-container {
  display: flex;
  align-items: center;
}

.pointtext {
  color: #404040;
  font-weight: 500;
  margin-top: 1vh;
}

.point-container svg {
  color: #395a9c;
  font-size: 3rem;
  margin: 0rem 0.5rem;
}

.knowmore {
  background-color: #395a9c;
  color: white;
  border: none;
  padding: 0.5rem 1.25rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 5px;
}

.apply {
  color: #395a9c;
  background-color: white;
  border: 2px solid #395a9c;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  margin-left: 0.45rem;
}

@media only screen and (min-width: 1000px) {
  .opportunities {
    display: grid;
    grid-template-columns: 35% 35%;
    column-gap: 2rem;
  }

  .opportunity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }

  .point-container svg {
    color: #395a9c;
    font-size: 2.5rem;
    margin: 0rem 0.5rem;
  }

  .second-section {
    padding: 6rem;
  }

  .ssheading {
    font-size: 1.95rem;
  }
}

/* The Modal (background) */
.modal,
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  font-size: 1.5rem;
  font-weight: 700;
  color: #395a9c;
}

.requirements svg {
  font-size: 2.75rem;
  color: #395a9c;
  margin-bottom: 0.25rem;
}

.reqtext {
  text-align: center;
}

.reqpoint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.requirements {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1000px) {
  .reqtext {
    font-size: 1.05rem;
    width: 75%;
  }

  .requirements {
    flex-direction: row;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.primary {
  display: block;
  margin: auto;
  text-align: center;
  background-color: #395a9c;
  color: #ffff;
}
